<ul class="social-media-list">
  <li>
    <a rel="me" href="https://github.com/cfreundlich" title="cfreundlich">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  <li>
    <a rel="me" href="https://www.linkedin.com/in/charliefreundlich" title="charlesfreundlich">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  <li>
    <a rel="me" href="https://stackoverflow.com/users/3962082/charles-f" title="charles-f">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
      </svg>
    </a>
  </li>
</ul>