<ul class="social-media-list">
    <a rel="me" href="https://github.com/cfreundlich" title="cfreundlich">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg><span class="username">code</span>
    </a>
  </li>
  <li>
    <a rel="me" href="https://stackoverflow.com/users/3962082/charles-f" title="charles-f">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
      </svg><span class="username">math nerd</span>
    </a>
  </li>
  <li>
    <a rel="me" href="https://www.instagram.com/thefreund" title="thefreund">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
      </svg><span class="username">insta</span>
    </a>
  </li>
  <li>
    <a rel="me" href="https://www.linkedin.com/in/charliefreundlich" title="charlesfreundlich">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg><span class="username">boring stuff</span>
    </a>
  </li>
</ul>
